body{
  background-image: url("http://pavbca.com/walldb/original/c/d/a/7890.jpg");
  background-size: contain;
}
h6 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.5em;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.5em;
}
